@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
body {
  font-family: cursive;
  background-color: #f8fafc;
}
h1 ,h2 {
  font-family: "Pacifico"
}
